*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#forminput{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 1140px;
    margin-inline: auto;
    width: 350px;
    border-radius: 5px;
    height: 150px;
}

#searchArea{
    outline: none;
    width: 70%;
    border: none;
}

.searchbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
}


.search{
  padding: 5px 20px;
  border: none;
 background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 25px;
    margin-top: 3rem;
   



}


  
  table {
   width: 40%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  td strong {
    color: green;
    font-size: 1.2em;
  }

  #downloadBtn{
    border: none;
    margin-top: 2.5rem;
  padding: 15px 20px;
  }

  #downloadBtn:hover{
    border: 1px solid greenyellow;
    transition: 3s;
  }

  .valid{
    border: 2px solid green;
}
.invalid{
    border: 2px solid red;
}
.nav-links{
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  
  
}
.nav-links a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  padding: 0 10px;
 
  &:hover{
    text-decoration: underline;
   
  }
}
.headers{
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);
            height: 3rem;
            width: 100%;


}
.header-home{
  max-width: 1110px;
  margin-inline: auto;
  width: 600px;

 
}
.hero{
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
    max-width: 1110px;
  margin-inline: auto;
  width: 800px;
  
}
.rightside h3{
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
 
}
.rightside{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.rightside button{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #d268cc;
  color: white;
 transition: all 0.3s ease

}
.rightside button:hover{
  transform: translateY(-6px);
}

.images img{
  width: 400px;
  height: 400px;
}

.boxConatiner {
  display: grid;
   max-width: 1110px;
  margin-inline: auto;
  width: 800px;
  grid-template-columns: repeat(3,1fr);
  gap:1.5rem;
  margin-top: 3rem;


}

.boxs{
box-shadow: 0px 0px  6px   rgba(0,0,0,0.8);
 width: 300px;
height: 180px; 
padding: 10px 20px;
border: 1px solid #d268cc;
display: flex;
gap: 1rem;
flex-direction: column;



}
.boxs h1{
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  text-align: center;
}
.boxs p{
  font-size: 1rem;
  color: #333;
  font-weight: 400;
  text-align: center;
}

.boxs:hover{
    transform: translateY(-6px);
    transition:all 0.4s ease
}

.contests{
  max-width: 1110px;
  margin-inline:auto;
  width:800px;
  display:flex;
  justify-content: center;
  align-items: center;
  


}
@media (max-width: 768px) {
  .boxConatiner {
    grid-template-columns:   1fr;
    gap: 1rem;
  
  }
  .boxs{
width: 400px;
height: 180px;
margin-left:10rem;


  }
  .boxs:hover{
    transform: translateY(-6px);
    transition:all 0.4s ease
}
.rightside:hover{
  transform: translateY(-6px);
    transition:all 0.4s ease
}
 
  .boxs h1{
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    text-align: center;
  }
 .boxs p{
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
    text-align: center;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    
  }
  .hero .rightside {
    width: 100%;
    max-width: 400px;
  }
  .modal-content{
    width: 100%;
    max-width: 400px;
    margin-top: 8rem;
  }
  .contents{
    width: 100%;
    max-width: 400px;
    
  }
  .header-home{
    display: none;
  }
  .headers{
    width: 500px;
  }


}

.contests h1{

  color: color-mix(in srgb, #333 10%, transparent);
 font-size: 2.5rem;
 margin-bottom:-11rem ;

}
.service h2{
    max-width: 1110px;
  margin-inline:auto;
  width:800px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:5rem ;
 
   font-size: 2.5rem;
  font-weight: 600;

}
.addnew{
  display: flex;
  justify-content: center;
   max-width: 1110px;
  margin-inline:auto;
  width:800px;
  margin-top:8rem;
  position:relative;
  left:15rem

}

.newstudnts{
  width: 250px;
  height: 220px;
  box-shadow: 0px 8px 9px rgba(0,0,0,0.1);
  padding: 10px 20px;
  position: relative;
 margin:  16rem auto ;
 

 
}
.newstudnts input{
  width: 100%;;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
 
  outline:none;
  font-size:1rem;
font-weight: 600px;
color: #333;
background-color: #f0f0f0;
transition: all 0.3s ease;
}
.newstudnts input:focus{
  border:2px solid #d268cc;
  background-color: #fff;

}
.btns{
  padding: 10px 20px;
 border:none;
 border-radius: 10px;
 background-color: #d268cc;
 color:white;
 font-size: 1rem;
 transition: all 0.3 ease;
 margin-top: 1rem;
 text-align: center;
 display: flex;
 justify-self: center;




}


  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: relative;
    margin: 2% auto;
    width: 80%;
    max-width: 800px;
    
  }
    #close-modal {
    position: absolute;
    top: -29px;
    right: 23%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #000;
    border-radius: 50%;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .student-table{
    margin:2.5rem auto 
  }
  .heder {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
   
  }


  .delete{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .delete:hover{
    background-color: #d268cc;
    transition: all 0.3s ease;
  }
  .update{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .update:hover{
    background-color: #d268cc;
    transition: all 0.3s ease;
  }


  
.ToastBox{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}
.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;


}

@keyframes moveleft {
    100%{
        transform: translateX(0%);
    }
    
}

.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.updated i{
    color: green;
}

.invalid i{
    color: orange;
    z-index: 20000;
}
.error i{
    color: red;
}
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 6px;
    background: green;
    animation: animate 3s linear forwards;

}

@keyframes animate {
    100%{
        width: 0%;
    }
    
}


.error::after{
    background: red;
}
.invalid::after{
    background-color: orange;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   margin: 6rem auto;
}
.contents h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}
.contents i{
    font-size: 2rem;
    color: white;
    background-color: red;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}
.butons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}

#userName input{
    width: 100%;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    outline:none;
    font-size:1rem;
}
#userName input:focus{
    border:2px solid #d268cc;
    background-color: #fff;
}
.btns:hover{
    background-color: #d268cc;
    color: white;
    transition: all 0.3s ease;
    transform: translateY(-6px);
}

.testimonials{
    max-width: 1110px;
    margin-inline:auto;
    width:850px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem ;
   flex-direction: column;

   
}
.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}
.image img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 0px 0px  6px   rgba(0,0,0,0.8);
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 10px;
  
   
  

}
.testimonial{
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px  6px   rgba(0,0,0,0.8);
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;   
}

.testimonial:hover{
    transform: translateY(-6px);
    transition: all 0.3s ease;
}
.image h3{
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    text-align: center;

}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.contentss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   margin: 6rem auto;
   text-align: center;
 
}
.contentss h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.contentss p{
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
    width: 70%;

}
.trusted{
  max-width: 1100px;
  margin-inline: auto;
  width: 800px;
  text-align: center;
  
}

@media (max-width: 768px) {
    .trusted{
        width: 100%;
        max-width: 400px;
    }
    .trusted h1{
        font-size: 2rem;
    }
    .trusted p{
        font-size: 1rem;
    }
    .testimonials-container{
        flex-direction: column;
        gap: 1rem;
    }
    .testimonial{
        width: 100%;
        max-width: 400px;
    }
    .contentss{
        width: 100%;
        max-width: 400px;
        margin:  5rem auto;
       
    }
}